

.category-filter {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width : 60%;
  margin: 20px auto;
}

.category-filter h3 {
  margin-bottom: 16px;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #555;
  transition: all 0.2s ease;
  padding: 8px;
  border-radius: 8px;
}

.filter-option:hover {
  background-color: #f7f7f7;
}

.filter-option input[type='checkbox'] {
  accent-color: #007bff; /* for modern browsers */
  transform: scale(1.2);
}

.filter-products{
  display: flex;
  justify-content: space-between;
   
}
